*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    font-family: system-ui;
    background-color: #fff;
}
.MarcaZapatillas {
    width: 400px; /* Ancho del cuadro blanco */
    height: 200px; /* Alto del cuadro blanco */
    background-color: #40B5AD; /* Fondo blanco */
    color: #fff; /* Texto transparente */
    text-align: center; /* Alineación del texto en el centro */
    line-height: 200px; /* Alineación vertical del texto */
    font-size: 100px; /* Tamaño de la letra en píxeles (ajusta el valor según tus necesidades) */
    font-family: 'Woodland', sans-serif; /* Utiliza la fuente Woodland */

}


/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease; /* Transición para la línea amarilla */
}

/* Agrega la línea amarilla debajo de los enlaces cuando el cursor pasa sobre ellos */
nav a:hover {
    border-bottom: 2px solid #FFD700; /* Color amarillo para la línea */
}
/* Estilo para el menú de navegación */

header {
    background-color: #333;
    padding: 20px 0;
    box-shadow: 0 7px 10px -5px #777;
    position: fixed;
    width: 100%;
    z-index: 99;
    color: #fff;
    margin: 0; /* Elimina el margen superior */
    top: 0; /* Fija el encabezado en la parte superior */

}
.container{
    max-width: 90%;
    text-align: center;
    margin: auto;
}
.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
.header-section p{
    position: absolute;
    top: -24px;
    right: 0px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    line-height: 18px;
    border: 1px solid #f00;
}


.cart{
    width: 39px;
    height: 38px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #ccc;
    padding: 0 18px;
    box-shadow: 0px 0px 10px #333;
    display: none;
    min-width: 300px;
}

.cart:hover{
    margin-bottom: -10px;
    transition-duration: .5s;
}
/*end header*/
.products div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}

.carts {
    background-color: #ffffff; /* Establece el fondo amarillo */
    max-width: 25vw; /* Ancho máximo para cada casilla */
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 30px;
    margin-bottom: 40px;
    margin-right: 10px; 

}
.carts img{
    width: 100%;
    max-width: 100%; /* Set the maximum width of the image to 100% */
    height: auto;
}
.carts p{
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px
}
.carts > div {
    flex: 1;
}

.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #f00;
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: red;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}

/*float cart*/
.cart-products {
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #ccc;
    padding: 0 18px;
    box-shadow: 0px 0px 10px #333;
    display: none;
    min-width: 300px;
    color: #000; /* Establece el color del texto en negro */
}

.cart-products h3 {
    margin-bottom: 0;
}

.cart-products .item img {
    width: 115px;
}

.cart-products .item {
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}

.cart-products .item .item-content {
    margin: 0 19px;
    width: 201px;
}

.cart-products .item .item-content h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products .item .item-content h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products .item span {
    background-color: #000;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}

.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products .item .item-content h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
    color: #000; /* Establece el color del texto en negro */
}

.cart-products .item span{
    background-color: #000;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

h6{
    color: #ccc;
}

.logo{
    width: 100px;
    height: 50px;
}
/* Estilos para las columnas del pie de página */
footer {
    background-color: #40B5AD;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 20px; /* Separación entre las columnas */
}

/* Estilo para la última columna sin margen derecho */
.footer-column {
    flex: 1;
    margin-right: 30px; /* Separación de 30px entre las columnas */
    margin-left: 30px;
}

footer h2 {
    font-size: 18px;
}

footer ul {
    list-style: none;
    padding: 0;
}
.btn-add-cart {
    margin-top: -10px; /* Mueve el botón hacia arriba 10px */
}
footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el enlace del pie de página */
footer a:hover {
    text-decoration: underline;
}
/* Estilo para la clase "barra" */
.barra ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.barra li {
    text-align: center;
}

.barra a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    position: relative;
    transition: border-bottom 0.3s ease; /* Transición para la línea amarilla */
}

/* Agrega la línea amarilla debajo de los enlaces cuando el cursor pasa sobre ellos */
.barra a:hover {
    border-bottom: 2px solid #FFD700; /* Color amarillo para la línea */
}
.title {
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 1.2em; /* Ajusta el valor según tus necesidades */
    min-height: 3.6em; /* Espacio equivalente a tres líneas */
    overflow: hidden;
}

/* Agrega este estilo para crear una cuadrícula de 3 columnas en tu archivo CSS */
.products-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 4 columnas con igual ancho */
    gap: 20px; /* Espacio entre las casillas */
    justify-content: center; /* Alinea el contenido al centro */
}




.product-image {
    position: relative;
}

.product-image img {
    max-width: 100%;
    display: block; /* Ensure the image takes the entire space within its container */
}

.discount-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f00;
    color: #fff;
    padding: 2px 4px;
    font-size: 80%;
    border-radius: 5px;
}


